<main>
  <!-- Header für Logo und Suchfeld -->
  <header class="header">
    <div class="logo">
        <img src="assets/petrol_pump.jpg" alt="Firmenlogo">
       
    </div>
    <div class="title">
    <h1 >Tank Titan</h1>
  </div>
   
</header>
<div class="container">
  <p-button label="PrimeNG" />
<div class="items">
  <div class="left">
    <div class="userInput">
      <section class="search">
        <!-- <input type="text" placeholder="search address" (keydown.enter)="onEnter()" #addressInput class="searchInput"> -->
        <input type="text" placeholder="search address" (keydown.enter)="geocode(addressInput.value)" #addressInput class="searchInput">
        <button (click)="geocode(addressInput.value)" #submitButton class="searchButton">
          <img src="assets/search.png" alt="Button Image" class="searchImg"/>
        </button>
        <button (click)="locateMe()" class="locationButton">
          <img src="assets/location.png" alt="Button Image" class="locationImg"/>
        </button>
      
    </section>
    <div name="buttonOptions">
        <select id="fueType" class="selectMenu" (change)="onSelectFuel()" #fuelType >
          <option value="diesel">diesel</option>
          <option value="e5">e5</option>
          <option value="e10">e10</option>
        </select>
        <select id="radius" class="selectMenu" (change)="onSelectRadius()" #radius >
          <option value="1">1 km</option>
          <option value="5">5 km</option>
          <option value="10">10 km</option>
          <option value="15">15 km</option>
          <option value="20">20 km</option>
        </select>
        <select id="sort" class="selectMenu" (change)="onSelectSort()" #sort >
          <!-- <option value="" disabled selected>Fuel</option>  -->
          <option value="price">price</option>
          <option value="dist">distance</option>
      
        </select>
      </div>
        
      </div>
<div class = "table-container">
  <table>
    <thead>
      <tr>
        <th>Price</th>
        <th>Address</th>
        <th>Distance</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let station of stations" class="stationTable">
        <td class="col_1">{{ station.price }}€</td>
        <td (click)="panToStation(station)" class="col_2">
          {{ station.brand }}<br>
          <div class="address">
          {{ station.street }}<br>
          {{ station.place }}, {{ station.postCode }}
        </div>
        </td >
        <td class="col_3">{{ station.dist }} km</td>
      </tr>
    </tbody>
  </table>
</div>

</div>
  <div id="map" style="width: 100%; height: 600px; margin: 1vh"></div>

  </div>
</div>
</main>

<router-outlet />
