.table-container {
  width: 100%;
  max-height: 50%; /* Set a maximum height for vertical scrolling */
  overflow-x: auto; /* Enable horizontal scrolling */
  overflow-y: auto; /* Enable vertical scrolling */
 
}
  table{
    width: 100%;
    color: var(--primary-font-color)
    
    // margin: 1vh;
  }
  th, td {
    // border: 1px solid black;
    padding: 8px;
    text-align: left;
    word-wrap: break-word; /* Ensures content wraps to new lines if necessary */
   
  }
  th {
    background-color: var(--secondary-color);
    color: var(--primary-font-color);
    font-style: bold;
    position: sticky;
    top: 0; /* Position header at the top */
    z-index: 2; /* Ensure the header stays above other content */
    
  }

  .col_1 {
    width: 20%;
  }

  .col_2 {
    width: 60%;
    cursor: pointer;
   
    
  }
  tr:hover{
    background-color: var(--primary-color);
    color: var(--primary-font-color);
  }

  .col_3 {
    width: 20%;
  }
  
  button{
    cursor: pointer;
    background-color: var(--primary-color); 
    // border-style: solid;
    border: none;
    border-radius: 15px;
    color: var(--primary-font-color);
    padding: 1vh;
    margin: 1vh;
    // height: 10vh;
    width: 10vh;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
 
  .title{
      color: var(--primary-font-color);
  }
  .container{
    display: flex;
    // justify-content: center; /* Aligns items horizontally */
    // align-items: center;   /* Aligns items vertically */
    flex-direction: column;
    height: 100vh;  
    width: 100%;
    padding: 0;
    margin: 0;
  }
 
  
  ::placeholder {
    color: var(--primary-color);
    opacity: 50%;
  
  }
  .search{
    display: flex;
    width: 100%;
    height: 10vh;
    color: white;
    align-items: center;
    padding: 1vh;
  }
 
  .searchInput{
    background: none;
    border-style: solid;
    width: 80%;
    // height: 8vh;
    border-radius: 10px;
    border-color:var(--primary-color);
    padding: 1vh;
    margin: 1vh;
    // caret-color: red;
    color: var(--primary-color);
  }
  .locationImg{
    width: 95%;
    height: 95%;
    
  }
  .searchImg{
    width: 95%;
    height: 95%;
  }

  

  .buttonOptions{
    background-color: pink;
    display:flex;
    margin: 1vh;
  }

  
  .selectMenu{
    background-color: var(--secondary-color); 
    padding: 4px;
    border-style: solid;
    border-radius: 30px;
    color: white;
    padding: 1vh;
    margin: 1vh;
    margin-left:auto;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  
  }
 .main{
  padding: 0;
 }
  .address{
    color: var(--secondary-color);
    font-style: italic;
    font-size: 1.5vh;
  }

  
  .header {
  
     // border-top: none; /* Entfernen Sie diese Linie, wenn der Header direkt am oberen Rand sein soll */
     width: 100%;
     height: 3vh;
     display: flex;
     // flex-direction: row;
     justify-content: center;
     align-items: center;
     // background-color: #FFF3DD; /* Hintergrundfarbe des Headers */
     // background-color: #803B15;
     margin: 0;
     padding: 2vh;
  }
//   .brandLogo{
// width: 100%;
// height: 100%;
//   }
 
  // .logo img {
  //   width: 10%; /* Stellen Sie die gewünschte Größe Ihres Logos ein */
  //   height: 10%;
  //   // margin: 3vh;
  // }
 

  
 
  
 
  
  
  
  

  




